[submodule "submodules/libsusi"]
	path = submodules/libsusi
	url = https://github.com/SUSIproject/libsusi
[submodule "submodules/libbson"]
	path = submodules/libbson
	url = https://github.com/trusch/libbson
